<h1>Show Page</h1>

<p><%=@item.name%></p>


<%=link_to "Edit",  edit_item_path(@item)%>


<h3>Form_for</h3>
<%=form_for(@item, method: :delete) do |f|%>
  <%=f.submit "Delete"%>
<%end%>


<h3>button_to</h3>

<%=button_to("Delete", @item, method: :delete, data: { confirm: "Really?" }) %>


<h3>link_to</h3>

<%=link_to("Delete", @item, method: :delete, data: { confirm: "Really?" }) %>
