<h1>Show Page</h1>

<p><%=@item.name%></p>


<%@item.measurements.each do |m|%>
  <li><%=m.quantity%> <%=m.unit%></li>
<%end%>


<%=link_to "Edit",  edit_item_path(@item)%>



<%=button_to("Delete", @item, method: :delete, data: { confirm: "Really?" }) %>
